#fillEditer, 
#topEditer,
#jgEditer,
#midEditer,
#adcEditer,
#suppEditer {
	background-color: #606060;
}

#editButtons {
    width: 80%;
    min-width: 1220px;
    margin: 2% 23.25%;
    height: 50px;
}

#editButtons > div {
    float: left;
    padding-left: 1%;
}

#roles_container2 {
    width: 20%;
}

#checkboxes_gametype2 {
    display: none;
    border: 1px #dadada solid;
    position: absolute;
}

#checkboxes_gametype2 label {
    display: block;
    background-color: #343a40;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

#editFilterContainer {
    width: 11%;
}