#RegionError {
	display: none;
}

#IGNError {
	display: none;
}

#RoleError {
	display: none;
}

#GameTypeError {
	display: none;
}

#ModeError {
	display: none;
}

#MicAvailabilityError {
	display: none;
}